.comp-btn-color {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 18px;
    gap: 5px;

    width: 122px;
    height: 42px;

    /* Linear */
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
    border-radius: 4px;

    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
}

.comp-itm-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 18px;
    gap: 5px;

    width: 128px;
    height: 42px;

    background: #000000;
    color: white;
    border-radius: 6px;

    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
}